@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
}
/*font*/
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*Shared Styles*/

body{
    margin: 0 auto;
    width: 1140px;
}

section{
    margin-top: 133px;
}

.secondary-color{
    color: rgba(0, 0, 0, 0.5);
}

.h2-styles{
    font-size: 3.125rem;
    font-weight: bold;
    color: black;
     font-family: "Noto Serif", serif;
}
.regular-text{

    font-size: 1.375rem;
    font-family: "Inter", sans-serif;
    font-weight: regular;
    color: rgba(0, 0, 0, 0.5);
}

/*navigation styles*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 120px;
}

.nav-right{
    display: flex;
    align-items: center;
    gap: 48px;
}
.nav-menu{
    display: flex;
    gap: 40px;
}
.nav-menu li{
    list-style: none;
    
}
.nav-menu a{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;

}

.first-menu-item{
    color: #252432;
}

.cart{
    display: flex;
    align-items: center;
    gap: 10px;

}


/*banner-styles*/

.h1-spn{
    color: #E95A08;
}

.banner{
    display: flex;
    align-items: center;
    background-image: url('../images/hero-flower.png');
    background-position: right;
    background-repeat: no-repeat;
    height: 461px;
    
}
.banner-content{
    width: 50%;
    margin-top: 100px;
}
.banner-content h1{
     font-family: "Noto Serif", serif;
     font-size: 4.063rem;
     text-transform: uppercase;
}


/*plant section styles*/

.plant-text-content{
    text-align: center;
    margin-bottom: 49px;
}
.h2-spn{
    color: #E95A08;
}

.plant-card-items{
    text-align: center;
    width: 270px;
}

.card-title{
    font-size: 1.375rem;
    font-weight: medium;
    padding-top: 20px;
}
.price{
    font-size: 1.375rem;
    font-weight: bold;
    padding-bottom: 20px;
}

.card-btn{
    background-color: #E95A08;
    border: none;
    width: 100%;
   padding-top: 15px;
    padding-bottom: 15px;

}
.card-btn a{
    text-decoration: none;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
   
}

.plant-item{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  
}
.plant-card-items {
  flex: 1 1 calc(25% - 20px); /* 4 cards per row, subtracting gap */
  
}

.plant-card-items img{
    width: 100%;
}

/*flower lover styles*/

.flower-lover{
    display: flex;
    align-items: center;
   gap: 80px;

}
.flower-store-list li{
    margin-top: 10px;
}

.flower-lover-img{
    background-image: url('../images/flower-store.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 597px;
    position: relative;
}

.badge img{
    width: 200px;
    height: 200px;
}

.badge {
  position: absolute;
  top: -90px;
  right: -60px;
}

/*Deals Section Styles*/

.deals-text-content{
    text-align: center;
    margin-bottom: 120px;
}

.bloom-plant{
    background-image: url('../images/deal-bloom.png');
    background-repeat: no-repeat;
    background-position: cover;
    height: 200px;
    margin: 0 auto;
     display: flex;
  flex-direction: column;    
  align-items: center;     
  justify-content: center;    
        
  text-align: center; 
}


.ana-plant{
    background-image: url('../images/deal-ana.png');
    background-repeat: no-repeat;
    background-position: cover;
    height: 200px;
     display: flex;
  flex-direction: column;    
  align-items: center;     
  justify-content: center;    
  text-align: center; 
}

.zabo-plant{
    background-image: url('../images/deal-zabo.png');
    background-repeat: no-repeat;
    background-position: cover;
    height: 423px;
    display: flex;
  flex-direction: column;    
  align-items: center;     
  justify-content: center;    
  text-align: center; 
    
}
.left-blocks{
    width: 367px;
}
.right-block{
    width: 753px;
}

.blocks{
    display: flex;
}