@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
}
/*font*/
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*Shared Styles*/

main, header{
    margin: 0 auto;
    max-width: 1140px;
}

section{
    margin-top: 133px;
}

.secondary-color{
    color: rgba(0, 0, 0, 0.5);
}

.h2-styles{
    font-size: 3.125rem;
    font-weight: bold;
    color: black;
     font-family: "Noto Serif", serif;
}
.regular-text{

    font-size: 1.375rem;
    font-family: "Inter", sans-serif;
    font-weight: regular;
    color: rgba(0, 0, 0, 0.5);
}

/*navigation styles*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 120px;
}

.nav-right{
    display: flex;
    align-items: center;
    gap: 48px;
}
.nav-menu{
    display: flex;
    gap: 40px;
}
.nav-menu li{
    list-style: none;
    
}
.nav-menu a{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;

}

.first-menu-item{
    color: #252432;
}

.cart{
    display: flex;
    align-items: center;
    gap: 10px;

}


/*banner-styles*/

.h1-spn{
    color: #E95A08;
}

.banner{
    display: flex;
    align-items: center;
    height: 461px;
    
}
.banner-content{
    width: 50%;
    margin-top: 100px;
}
.banner-content h1{
     font-family: "Noto Serif", serif;
     font-size: 4.063rem;
     text-transform: uppercase;
}

/*Header responsive*/

@media screen and (max-width: 576px) {

   .h2-styles{
    font-size: 24px;
    font-weight: bold;
    color: black;
     font-family: "Noto Serif", serif;
}
.regular-text{

    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: regular;
    color: rgba(0, 0, 0, 0.5);
}
    section{
        margin-top: 100px;
    }
    section, header{
        padding-left: 16px;
        padding-right: 16px;
    }
    .nav-menu{
        display: none;
    }
   .banner{
    flex-direction: column-reverse;
    height: auto;
   }
    .banner-img img{
    width: 100%;
}

.banner-content{
    width: 100%;
    margin-top: 28px;
}
.banner-content h1{
     font-family: "Noto Serif", serif;
     font-size: 28px;
     text-transform: uppercase;
     font-weight: bold;
}
    
}

/*plant section styles*/

.plant-text-content{
    text-align: center;
    margin-bottom: 49px;
}
.h2-spn{
    color: #E95A08;
}

.plant-card-items{
    text-align: center;
    width: 270px;
}

.card-title{
    font-size: 1.375rem;
    font-weight: medium;
    padding-top: 20px;
}
.price{
    font-size: 1.375rem;
    font-weight: bold;
    padding-bottom: 20px;
}

.card-btn{
    background-color: #E95A08;
    border: none;
    width: 100%;
   padding-top: 15px;
    padding-bottom: 15px;

}
.card-btn a{
    text-decoration: none;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
   
}

.plant-item{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  
}
.plant-card-items {
  flex: 1 1 calc(25% - 20px); 
  
}

.plant-card-items img{
    width: 100%;
}

/*plant section responsive*/

@media screen and (max-width: 576px) {

    .plant-card-items {
  flex: 1 1 calc(50% - 20px); 
  
}
}

/*flower lover styles*/

.flower-lover{
    display: flex;
    align-items: center;
   gap: 80px;

}
.flower-store-list li{
    margin-top: 10px;
}

.flower-lover-img{
    background-image: url('../images/flower-store.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 597px;
    position: relative;
}

.badge img{
    width: 200px;
    height: 200px;
}

.badge {
  position: absolute;
  top: -90px;
  right: -60px;
}

@media screen and (max-width: 576px) {
    .flower-lover{
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .flower-lover-content{
        margin-top: -50px;
    }
    .flower-lover-img{
        height: 500px;
    }
}

/*Deals Section Styles*/

.deals-text-content{
    text-align: center;
    margin-bottom: 120px;
}
.left-blocks{
    width: 367px;
}

.blocks{
    display: flex;
}
.bloom-plant{
    background-image: url('../images/deal-bloom.png');
    background-repeat: no-repeat;
    background-position: cover;
    height: 200px;
    margin: 0 auto;
     display: flex;
  flex-direction: column;    
  align-items: center;     
  justify-content: center;    
  text-align: center; 
  border-radius: 22px;
  position: relative;
  overflow: hidden;
}
.bloom-plant::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4); 
  z-index: 0;
}
.bloom-plant h3,
.bloom-plant button {
  position: relative;
  z-index: 1;
}
.bloom-plant h3{
    font-size: 1.25rem;
    color: #fff;
    font-weight: 600;
}
.bloom-plant button a{
     font-size: 1rem;
    font-weight: 600;
    color: #fff;
}
.ana-plant{
    background-image: url('../images/deal-ana.png');
    background-repeat: no-repeat;
    background-position: cover;
    height: 200px;
     display: flex;
  flex-direction: column;    
  align-items: center;     
  justify-content: center;    
  text-align: center; 
  border-radius: 22px;
  margin-top: 28px;
  position: relative;
  overflow: hidden;
}
.ana-plant::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4); 
  z-index: 0;
}
.ana-plant h3,
.ana-plant button {
  position: relative;
  z-index: 1;
}

.ana-plant h3{
    font-size: 1.25rem;
    color: #fff;
    font-weight: 600;
}
.ana-plant button a{
     font-size: 1rem;
    font-weight: 600;
    color: #fff;
}

.zabo-plant{
    background-image: url('../images/deal-zabo.png');
    background-repeat: no-repeat;
    background-position: cover;
    height: 423px;
    display: flex;
  flex-direction: column;    
  align-items: center;
  justify-content: center;    
  text-align: center; 
  border-radius: 22px;
  margin-left: 28px;
  position: relative;
  overflow: hidden;
  width: 753px;
}
.zabo-plant::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4); 
  z-index: 0;
}
.zabo-plant h3,
.zabo-plant button {
  position: relative;
  z-index: 1;

}

.zabo-plant h3{
    font-size: 2.5rem;
      color: #fff;
}
.zabo-plant button a{
    font-size: 1.75rem;
    font-weight: 600;
    color: #fff;

}

.deals-btn{
    background: none;
    border: none;
    
}



/*Deals Section Responsive*/
@media screen and (max-width: 576px) {

    .deals-text-content{
    margin-bottom: 50px;
}
    .blocks{
    display: flex;
    flex-direction: column;
}

.zabo-plant{
    margin-left: 0px;
   width: auto;
   height: 220px;
}
.right-block{
    margin-top: 24px;
}
.zabo-plant h3{
    font-size: 20px;
}
.zabo-plant button a{
    font-size: 16px;

}
.ana-plant, .bloom-plant{
    margin-right: 10px;
}

}


/*join section styles*/

.join-sec{
    background-image: url('../images/news-letter-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.join-sec-content{
    padding-bottom: 200px;
    padding-top: 200px;
    text-align: center;
}

.join-sec-content h2{
    color: #fff;
   margin-bottom: 23px;
}

.subscribe-box {
  display: flex;
  max-width: 830px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.email-input {
  flex: 1;
  padding: 15px 20px;
  font-size: 16px;
  border: none;
  outline: none;
}

.subscribe-btn {
  background-color: #E95A08; 
  color: white;
  padding: 15px 25px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.subscribe-btn:hover {
  background-color: #cc5200;
}

/*main footer styles*/

.main-footer{
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
   
}

.footer-items:nth-child(1) {
  flex-basis: 40%; 
}

.footer-items:nth-child(2),
.footer-items:nth-child(3) {
  flex-basis: 20%; 
}

.footer-items:nth-child(4) {
  flex-basis: 20%; 
}

.footer-social ul{
    display: flex;
    gap: 24px;
   align-items: center;
    
}
.footer-social ul li{
    list-style: none;
}
.footer-social ul li a{
    text-decoration: none;
}

.footer-menu-one ul, .footer-menu-two ul {
    list-style: none;
    
}

.footer-menu-one ul li a, .footer-menu-two ul li a{
    text-decoration: none;
    color: #6b7280;
    font-family: "Inter", sans-serif;
    
}
.footer-menu-one ul li, .footer-menu-two ul li{
   
    padding-bottom: 32px;
}

/*Main footer responsive*/

@media screen and (max-width: 576px) {

    .main-footer{
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 16px;
    padding-right: 16px;

}

.logo{
    margin-bottom: 20px;
    margin-left: 35px;
}
   
}